body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#loginCard{
  margin: 10px auto auto;
}
#loginBtn{
  margin: 0px auto;
}
#input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding: 10px auto;
}
.topSummary{
  display: flex;
  justify-content: space-between;
}
.progessBar{
  margin: 0px auto;
  height: 2rem;
  width: 80%;
  text-align: center;
}
.sumCard{
  display: flex;
  flex-wrap: wrap;
}
.others{
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding-left: 10px;
}
#fab{
  text-align: center;
}
.tittle{
  margin: 0px auto;
  color: black;
  justify-content: center;
  font-weight: 900;
  text-align: center;
}

#drawer{
 float: left;
 margin-left: 3rem;
}
.drawerCard{
  background-color: brown;
  width: 100%;
}
.x-close{
  text-align: right;
}
#alert-dialog-description1{
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
}
#alert-dialog-description12{
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
  color: red;
}
#alert-dialog-description13{
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
  color: green;
}
.topDashboard{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.topDashboard :nth-child(2){
  float: right;
  margin-right: 2rem;
}
.sumCard{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .sumCard{
    display: flex;
    flex-direction: column;
  }
  .others{
    display: flex;
    flex-direction: column;
  }
  
  

}