body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#loginCard{
  margin: 10px auto auto;
}
#loginBtn{
  margin: 0px auto;
}
#input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding: 10px auto;
}
.topSummary{
  display: flex;
  justify-content: space-between;
}
.progessBar{
  margin: 0px auto;
  height: 2rem;
  width: 80%;
  text-align: center;
}
.sumCard{
  display: flex;
  flex-wrap: wrap;
}
.others{
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding-left: 10px;
}
#fab{
  text-align: center;
}
.tittle{
  margin: 0px auto;
  color: black;
  justify-content: center;
  font-weight: 900;
  text-align: center;
}

#drawer{
 float: left;
 margin-left: 3rem;
}
.drawerCard{
  background-color: brown;
  width: 100%;
}
.x-close{
  text-align: right;
}
#alert-dialog-description1{
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
}
#alert-dialog-description12{
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
  color: red;
}
#alert-dialog-description13{
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0px 2rem;
  color: green;
}
.topDashboard{
  display: flex;
  justify-content: space-between;
  margin-top: 0.92rem;
}
.topDashboard :nth-child(2){
  float: right;
  margin-right: 2rem;
}
.sumCard{
  display: flex;
  flex-direction: column;
}
.customerPageTop{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.close{
  border: solid black 2px;
  border-radius: 50%;
  float: right;
}
.salesCard{
  max-width: 400px;
  margin: 0px auto;
}
#salesCardContent{
  display: flex;
  justify-content: space-between;
}
.salesType{
  display: flex;
  flex-direction: column;
 
}
.salesType button{
  margin: 10px 15px;
}
.cartAdd{
  justify-content: center;
  align-self: center;
  border: solid green 2px;
  padding: 10px 19px;
  background-color: green;
}
.searchProductSale{
  display: flex;
  flex-direction: column;
}
.customersCard{
  margin: 0px auto;
  max-width: 400px;
  width: 80vw;
}
.DetailedCustomerCard{
  margin: 0px auto;
  max-width: 400px;
  width: 80vw;
}
.DetailedCustomerCardButton{
 
  display: flex;
  flex-direction: column;
}
.DetailedCustomerCardButton button{
  margin: 10px auto;
  width: fit-content;
}
.customerAccountTableFooter{
  align-self: flex-end;
  text-align: right;
  align-items: flex-end;
}
.customerAccountCard{
  background-color: green;
  width: 70vw;
  max-width: 350px;
  margin: 1rem;
  border: solid green 2px;
  border-radius: 1rem;
}
.topCustomerAccountState{
  display: flex;
  justify-content: space-between;
}
.topCustomerAccountState button{
  margin: 2rem;
}
.transferTop{
  display: flex;
  justify-content: space-between;
}
.transferTop button{
  margin: 2rem;
}
.transfersBtn{
  display: flex;
  justify-content: space-between;
}
.transferListCard{
  margin: 10px auto;
  width: 80vw;
  max-width: 500px;
}
.expensesBackBtn{
  float: left;
  margin: 2em;
}
.formExpense{
  display: flex;
  flex-direction: column;
}
.formExpenseCard{
  margin: 0px auto;
  width: 80vw;
  max-width: 300px;
}
.formExpense button{
  width: fit-content;
}
@media only screen and (max-width: 700px) {
  .customerAccountCard{
    margin: 10px auto;
  }
  .sumCard{
    display: flex;
    flex-direction: column;
  }
  .others{
    display: flex;
    flex-direction: column;
  }
  .customerPageTop{
    align-items: center;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .customerPageTop button{
    margin: 1rem;
    width: fit-content;
  }
  .topCustomerAccountState{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  }
  .topCustomerAccountState button{
    width: fit-content;
  }
  .transferTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .transferTop button{
    margin: 10px auto;
  }
  
}